.companies{
    position: relative;
    background-color: var(--color-dark);
    padding-top: 102px;
    padding-left: 72px;
    padding-right: 72px;
    max-width: var(--container-width);
    margin-inline: auto;
}
.companies-work{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.companies-title{
    padding-top: 8px;
    max-width: 690px;
}
.companies-info{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    padding-top: 80px;
}
.number{
    font-weight: 400;
    font-size: 117px;
}
.companies-types-title-color-green{
    color: var(--color-green-accent);
}
.companies-types-title-color-blue{
    color: var(--color-blue-accent);
}
.companies-types-title-color-pink{
    color: var( --color-pink-accent);
}
@media(max-width: 1260px){
    .companies{
        background: none;
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media(max-width: 800px){
    .companies{
        padding-top: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .companies-info{
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
    .companies-types-title{
        margin: 0;
    }
}