.dribble{
    max-width: var(--container-width);
    padding: 120px 182px;
}
.dribbble-info{
    max-width: 636px;
}
.dribbble-title{
    font-weight: 700;
    font-size: 55px;
    color: var(--color-light);
    margin: 0;
    line-height: 50px;
    padding-bottom: 24px;
}
.dribbble-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 40px;
    margin: 0;
}
.dribbble-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-light);
}
.dribbble-image{
    padding-top: 120px;
}
.dribble-info-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}
@media(max-width: 1260px){
    .dribble{
        padding: 80px 40px;
    }
}
@media(max-width: 800px){
    .dribble{
        padding: 64px 20px;
    }
    .dribbble-image{
        padding-top: 64px;
    }
}