.philosophy-card.container{
    padding: 0;
}
.philosophy-card{
    display: flex;
    justify-content: space-between;
    gap: 72px;
}
.philosophy-list{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--color-peach-accent);
}
.philosophy-card-body{
    padding-top: 120px;
    padding-left: 72px;
    max-width: 576px;
}
.philosophy-card-tytle{
    font-weight: 700;
    font-size: 55px;
    color: var(--color-dark);
    line-height: 70px;
    margin: 0;
}
.philosophy-card-description{
    font-weight: 400;
    font-size: 18px;
    color: var(--color-dark-grey);
    line-height: 27px;
    padding-top: 24px;
    padding-bottom: 124px;
}
.philosophy-card-description p{
    margin: 0;
}
.philosophy-card-link{
    font-weight: 400;
    font-size: 16px;
    color: var(--color-dark);
    line-height: 24px;
}
@media(max-width: 1260px){
    .philosophy-card{
        gap: 40px;
    }
    .philosophy-card-body{
        padding-top: 80px;
    }
    .philosophy-card-description{
        padding-bottom: 200px;
    }
    .philosophy-card-image{
        max-width: 50%;
        height: auto;
    }
}
@media(max-width: 800px){

    .philosophy-card{
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
    .philosophy-card-body{
        padding-top: 48px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .philosophy-card-tytle{
        font-size: 32px;
    }
    .philosophy-card-description{
        padding-top: 24px;
        padding-bottom: 90px;
    }
    .philosophy-card-image{
       width: 100% !important;
       max-width: none;
    }
}