.reviews{
    max-width: var(--container-width);
    padding: 120px 72px;
}
.reviews-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.reviews-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.reviews-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 120px;
}
.reviews-card img{
    width: 100%;
    height: auto;
    display: block;
}
.reviews-title{
    padding-bottom: 24px;
}
.reviews-description{
    padding-bottom: 40px;
}
.reviews-info{
    border: 1px solid var(--color-dark-grey);
    padding: 64px;
}
.reviews-card-title{
    padding-bottom: 64px;
}
.reviews-card-name{
    font-weight: 700;
    padding-bottom: 4px;
}
@media(max-width: 1260px){
    .reviews{
        padding: 80px 40px;
    }
    .reviews-wrapper{
        gap: 23px
    }
    .reviews-right{
        gap: 64px;
    }
    .reviews-info{
        padding: 32px;
    }
}
@media(max-width: 800px){
    .reviews{
        padding: 48px 20px;
    }
    .reviews-wrapper{
        flex-direction: column;
        gap: 64px;
    }
    .reviews-right{
        gap: 48px;
    }
}