@import url('./css/header.css');
@import url('./css/content.css');
@import url('./css/companies.css');
@import url('./css/philosophy.css');
@import url('./css/skillset.css');
@import url('./css/groups.css');
@import url('./css/projects.css');
@import url('./css/instagram.css');
@import url('./css/dribble.css');
@import url('./css/reviews.css');
@import url('./css/photography.css');
@font-face {
    font-family: 'Sen';
    src: url('./fonts/Sen-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Sen';
    src: url('./fonts/Sen-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
:root{
    --color-dark: #000;
    --color-light: #fff;
    --color-light-grey:#8491a0;
    --color-dark-grey:#5b6876;
    --color-purple: #5221e6;
    --color-level-1: #181823;
    --color-green-accent: #3cc74e;
    --color-blue-accent: #609bff;
    --color-pink-accent: #e95d90;
    --color-peach-accent: #fff3e4;
    --color-violet-accent: #fbe4ff;

    --border-purple: 1px solid var(--color-purple);
    --border-dark-grey: 1px solid var(--color-dark-grey);

    --font-family:'Sen', sans-serif;

    --container-width: 1400px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}
body{
    font-family: var(--font-family);
    color: var(--color-light-grey);
    font-size: 16px;
    line-height: 150%;
    background-color: var(--color-dark);
}
a{
    color: var(--color-light);
}
.container{
    max-width: calc(var(--container-width)+var(--container-padding-x)*2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
@media(max-width: 1260px){
    .header{
        padding-inline: 40px;
    }
    .header:before{
        background-color: var(--color-dark);
    }
    .content{
        background: var(--color-dark);
    }
    .banner-title{
        font-size: 56px;
    }
    .banner-image {
        width: 700px;
        height: 750px;
    }
    .banner-image img {
        width: 100%;
        height: 100%;
    }

    .companies{
        background: none;
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .philosophy-card{
        gap: 40px;
    }
    .philosophy-card-body{
        padding-top: 80px;
    }
    .philosophy-card-description{
        padding-bottom: 200px;
    }
    .philosophy-card-image{
        max-width: 50%;
        height: auto;
    }

    .skillset{
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .skillset-wrapper {
        flex-direction: column;
      }
    .skillset-left{
        max-width: 1200px;
    }
    .skillset-card{
        padding-top: 48px;
    }

    .groups {
        overflow-x: hidden;
      }
    
      .groups-types {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0;
      }
    
      .groups-types-list {
        width: 100%;
        max-width: none;
        margin: 0;
      }

      .projects{
        padding-left: 40px;
        padding-right: 40px;
      }
      .projects-wrapper{
        flex-direction: column;
        gap: 48px;
      }
      .projects-button{
        display: none;
      }

    .instagram-card{
        gap: 40px;
    }
    .instagram-card-body{
        padding-top: 80px;
    }
    .instagram-card-description{
        padding-bottom: 200px;
    }
    .instagram-card-image{
        max-width: 50%;
        height: auto;
    }

    .dribble{
        padding: 80px 40px;
    }

    .reviews{
        padding: 80px 40px;
    }
    .reviews-wrapper{
        gap: 23px
    }
    .reviews-right{
        gap: 64px;
    }
    .reviews-info{
        padding: 32px;
    }

    .photography{
        padding: 80px 40px;
    }
    .photography-header{
        max-width: 689px;
    }
    .photography-card{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 800px){
    .header:before{
        background-color: var(--color-dark);
    }
    .header{
        padding-inline: 24px;
    }
    .header-body{
        height: 72px;
    }
    .header-burger{
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        z-index: 3;
    }
    .header-burger:before{
        content: '';
        background-color: var(--color-light-grey);
        position: absolute;
        width: 18px;
        height: 3px;
        left: 0;
        top: 0;
    }
    .header-burger:after{
        content: '';
        background-color: var(--color-light-grey);
        position: absolute;
        width: 13px;
        height: 3px;
        left: 5px;
        bottom: 0;
        top: 9px
    }
    .header-burger span{
        position: absolute;
        background-color: var(--color-light-grey);
        left: 0;
        height: 3px;
        top: 9px;
    }
    .header-menu{
        display: none;
    }
    
    .banner {
        flex-direction: column;
        padding: 0;
    }

    .banner-body {
        position: static;
        padding: 20px;
        text-align: left;
    }

    .banner-image {
        width: 100%;
        height: 400px;
    }
    .banner-image img {
        width: 100%;
        height: 400px;

    }
    .banner-title{
        font-size: 32px;
    }
    .banner-info{
        font-size: 18px;
        padding-top: 16px;
    }

    .companies{
        padding-top: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .companies-info{
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
    .companies-types-title{
        margin: 0;
    }

    .philosophy-card{
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
    .philosophy-card-body{
        padding-top: 48px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .philosophy-card-tytle{
        font-size: 32px;
    }
    .philosophy-card-description{
        padding-top: 24px;
        padding-bottom: 90px;
    }
    .philosophy-card-image{
       width: 100% !important;
       max-width: none;
    }

    .skillset{
        padding-top: 64px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .skillset-card {
        grid-template-columns: 1fr;
      }
    .skillset-title{
        font-size: 32px;
        padding-bottom: 16px;
    }
    .skillset-info{
        padding: 0;
    }

    .projects{
        padding-left: 20px;
        padding-right: 20px;
      }
    
      .instagram-card{
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
    .instagram-card-body{
        padding-top: 48px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .instagram-card-tytle{
        font-size: 32px;
    }
    .instagram-card-description{
        padding-top: 24px;
        padding-bottom: 90px;
    }
    .instagram-card-image{
       width: 100% !important;
       max-width: none;
    }

    .dribble{
        padding: 64px 20px;
    }
    .dribbble-image{
        padding-top: 64px;
    }

    .reviews{
        padding: 48px 20px;
    }
    .reviews-wrapper{
        flex-direction: column;
        gap: 64px;
    }
    .reviews-right{
        gap: 48px;
    }

    .photography{
        padding: 48px 20px;
    }
    .photography-button {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
      }
    
      .button-photography {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
      }
}